@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: white;
  overflow-x: hidden;
}
.font-heading {
  font-family: var(--font-playfair);
}

.font-body {
  font-family: var(--font-inter);
}
html {
  scroll-behavior: smooth;
}
/* html,
body {
  cursor: none;
} */